## **Analyse des données récupérées**

#### Membres du binôme :
- KRISNI Almehdi
- ARICHANDRA Santhos

In [44]:
# Imports
from utils import *

# Rechargement automatique des fichiers importés (vu dans l'UE de Data Science en L3)
%load_ext autoreload
%autoreload 2

# On désactive les affichages
import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
# On récupère le dataframe pandas contenant toutes les recettes
df = pdCreator(10000, 100, 12000)

# On affiche les informations du dataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1980 entries, 0 to 1981
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           1980 non-null   object
 1   id             1980 non-null   int64
 2   description    1980 non-null   object
 3   picture        1980 non-null   object
 4   servings       1980 non-null   int64
 5   calories       1980 non-null   float64
 6   reviews        1980 non-null   int64
 7   rating         1980 non-null   float64
 8   carbohydrates  1980 non-null   float64
 9   dietary fiber  1980 non-null   float64
 10  sugars         1980 non-null   float64
 11  fat            1980 non-null   float64
 12  saturated fat  1980 non-null   float64
 13  cholesterol    1980 non-null   float64
 14  calcium        1980 non-null   float64
 15  iron           1980 non-null   float64
 16  magnesium      1980 non-null   float64
 17  potassium      1980 non-null   float64
 18  sodium         1980 non-null   float64
 19  ingredients    1980 non-null   object
dtypes: float64(13), int64(3), object(4)
memory usage: 324.8+ KB

In [74]:
# Exclude string columns
dfNoStr = df.select_dtypes(exclude=['object'])
dfNoStr.head(5)

,id,servings,calories,reviews,rating,carbohydrates,dietary fiber,sugars,fat,saturated fat,cholesterol,calcium,iron,magnesium,potassium,sodium
0,10000,12,599.7,38,3.8,86.6,2.6,54.1,26.9,11.6,0.0640,0.1253,0.0025,0.0392,0.1812,0.4130
1,10001,12,357.6,13,4.3,35.5,2.0,17.2,22.6,10.8,0.1027,0.0968,0.0021,0.0296,0.1525,0.1965
2,10002,30,200.0,6,3.9,21.9,0.7,14.6,11.6,2.7,0.0124,0.0135,0.0007,0.0162,0.0799,0.1273
3,10003,24,116.3,154,4.0,10.9,0.2,2.5,7.8,4.9,0.0203,0.0035,0.0004,0.0020,0.0108,0.0549
4,10004,8,108.1,19,4.7,26.0,0.0,25.2,0.0,0.0,0.0000,0.0011,0.0000,0.0015,0.0213,0.0213

In [73]:
# https://towardsdatascience.com/histograms-and-density-plots-in-python-f6bda88f5ac0

print(df["fat"].idxmax())
print(df.iloc[244])

1048
name                                                  Strufoli III
id                                                           10244
description      These are what my family calls honey balls. We...
picture          https://imagesvc.meredithcorp.io/v3/mm/image?u...
servings                                                         8
calories                                                     856.8
reviews                                                          1
rating                                                         5.0
carbohydrates                                                 81.2
dietary fiber                                                  1.1
sugars                                                        56.9
fat                                                           58.8
saturated fat                                                  8.0
cholesterol                                                 0.0698
calcium                                                     0.0188
iron                                                        0.0023
magnesium                                                   0.0177
potassium                                                   0.1057
sodium                                                      0.0291
ingredients      2 cups sifted all-purpose flour #3 eggs #1 pin...
Name: 244, dtype: object

In [ ]:
# Test - Cosine similarity