# Analyse des données récupérées

### Membres du binôme :
- KRISNI Almehdi
- ARICHANDRA Santhos

In [72]:
# Imports
from utils import *

# Rechargement automatique des fichiers importés (vu dans l'UE de Data Science en L3)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
# On récupère le dataframe pandas contenant toutes les recettes avec un ID compris entre startID et endID
startID = 10000
endID = 40000
df = pdCreator(startID, 100, endID)

# On affiche les premières valeurs afin d'avoir une idée sur la forme des données
df.head()

,name,id,calories,sugars,fat,saturated fat,sodium
0,Chocolate Sandwich Cookies I,10000,600,54.1,26.9,11.6,0.413
1,Chocolate Pizzelles,10001,358,17.2,22.6,10.8,0.1965
2,Peter Pan Cookies,10002,200,14.6,11.6,2.7,0.1273
3,Cookie Press Shortbread,10003,116,2.5,7.8,4.9,0.0549
4,Pavlova,10004,108,25.2,0.0,0.0,0.0213