## **Analyse des données récupérées**

#### Membres du binôme :
- KRISNI Almehdi
- ARICHANDRA Santhos

In [26]:
# Imports
from utils import *

# Rechargement automatique des fichiers importés (vu dans l'UE de Data Science en L3)
%load_ext autoreload
%autoreload 2

# On désactive les affichages
import warnings
warnings.filterwarnings('ignore')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
# On récupère le dataframe pandas contenant toutes les recettes
df = pdCreator(10000, 100, 18000)

# On affiche les informations du dataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7876 entries, 0 to 7877
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7876 non-null   object
 1   id             7876 non-null   int64
 2   description    7876 non-null   object
 3   picture        7876 non-null   object
 4   servings       7876 non-null   int64
 5   calories       7876 non-null   float64
 6   reviews        7876 non-null   int64
 7   rating         7876 non-null   float64
 8   carbohydrates  7876 non-null   float64
 9   dietary fiber  7876 non-null   float64
 10  sugars         7876 non-null   float64
 11  fat            7876 non-null   float64
 12  saturated fat  7876 non-null   float64
 13  cholesterol    7876 non-null   float64
 14  calcium        7876 non-null   float64
 15  iron           7876 non-null   float64
 16  magnesium      7876 non-null   float64
 17  potassium      7876 non-null   float64
 18  sodium         7876 non-null   float64
 19  ingredients    7876 non-null   object
dtypes: float64(13), int64(3), object(4)
memory usage: 1.3+ MB

In [28]:
# Exclude string columns
dfNoStr = df.select_dtypes(exclude=['object'])
dfNoStr.head(5)

,id,servings,calories,reviews,rating,carbohydrates,dietary fiber,sugars,fat,saturated fat,cholesterol,calcium,iron,magnesium,potassium,sodium
0,10000,12,599.7,38,3.8,86.6,2.6,54.1,26.9,11.6,0.0640,0.1253,0.0025,0.0392,0.1812,0.4130
1,10001,12,357.6,13,4.3,35.5,2.0,17.2,22.6,10.8,0.1027,0.0968,0.0021,0.0296,0.1525,0.1965
2,10002,30,200.0,6,3.9,21.9,0.7,14.6,11.6,2.7,0.0124,0.0135,0.0007,0.0162,0.0799,0.1273
3,10003,24,116.3,154,4.0,10.9,0.2,2.5,7.8,4.9,0.0203,0.0035,0.0004,0.0020,0.0108,0.0549
4,10004,8,108.1,19,4.7,26.0,0.0,25.2,0.0,0.0,0.0000,0.0011,0.0000,0.0015,0.0213,0.0213

In [29]:
# https://towardsdatascience.com/histograms-and-density-plots-in-python-f6bda88f5ac0

# How we access a max value example
print(df["fat"].idxmax())
print(df.iloc[0])

6116
name                                  Chocolate Sandwich Cookies I
id                                                           10000
description      Excellent frozen. I have played with this over...
picture          https://imagesvc.meredithcorp.io/v3/mm/image?u...
servings                                                        12
calories                                                     599.7
reviews                                                         38
rating                                                         3.8
carbohydrates                                                 86.6
dietary fiber                                                  2.6
sugars                                                        54.1
fat                                                           26.9
saturated fat                                                 11.6
cholesterol                                                  0.064
calcium                                                     0.1253
iron                                                        0.0025
magnesium                                                   0.0392
potassium                                                   0.1812
sodium                                                       0.413
ingredients      3 cups all-purpose flour #1 ½ cups white sugar...
Name: 0, dtype: object

In [30]:
tmp = allCosSim(dfNoStr, 10000)
recipeSimStats(tmp)

(0.9843809523809524,
 0.9504761904761905,
 0.9095873015873016,
 0.8416507936507936)

In [31]:
picStats(10000)

Brigtness :	 122.2979888888889
Sharpness :	 9.374180970660415
Colorfulness :	 20.11340526415148
Contrast :	 1.0

(122.2979888888889, 9.374180970660415, 20.11340526415148, 1.0)

In [32]:
# We generate a dataframe with only the recipes with pictures
picDf = removeNoPictures(df)
transfPicDf = picDf.select_dtypes(exclude=['object'])
transfPicDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7384 entries, 0 to 7877
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             7384 non-null   int64
 1   servings       7384 non-null   int64
 2   calories       7384 non-null   float64
 3   reviews        7384 non-null   int64
 4   rating         7384 non-null   float64
 5   carbohydrates  7384 non-null   float64
 6   dietary fiber  7384 non-null   float64
 7   sugars         7384 non-null   float64
 8   fat            7384 non-null   float64
 9   saturated fat  7384 non-null   float64
 10  cholesterol    7384 non-null   float64
 11  calcium        7384 non-null   float64
 12  iron           7384 non-null   float64
 13  magnesium      7384 non-null   float64
 14  potassium      7384 non-null   float64
 15  sodium         7384 non-null   float64
dtypes: float64(13), int64(3)
memory usage: 980.7 KB

In [33]:
picDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7384 entries, 0 to 7877
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7384 non-null   object
 1   id             7384 non-null   int64
 2   description    7384 non-null   object
 3   picture        7384 non-null   object
 4   servings       7384 non-null   int64
 5   calories       7384 non-null   float64
 6   reviews        7384 non-null   int64
 7   rating         7384 non-null   float64
 8   carbohydrates  7384 non-null   float64
 9   dietary fiber  7384 non-null   float64
 10  sugars         7384 non-null   float64
 11  fat            7384 non-null   float64
 12  saturated fat  7384 non-null   float64
 13  cholesterol    7384 non-null   float64
 14  calcium        7384 non-null   float64
 15  iron           7384 non-null   float64
 16  magnesium      7384 non-null   float64
 17  potassium      7384 non-null   float64
 18  sodium         7384 non-null   float64
 19  ingredients    7384 non-null   object
dtypes: float64(13), int64(3), object(4)
memory usage: 1.2+ MB

In [39]:
generate_user_experience(transfPicDf, picDf, 3, 4, 0.9999)

The experience user model id.4 has been created.n.4 ...